

/* paletas de colores: https://paletadecolores.com.ar/paleta/9f0a28/d55c2b/f6e7d3/89a46f/55203c/ */

/* .color plateado {color: #d2d6ea;}
.color blanco {color: #f0f0f0;}
.color3 negro {color: #1f202f;}
.color4 gris {color: #79787e;}
.color5 balnco {color: #e5e5e5;}*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #000000;
}

hr {
    width: 70%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-color: #d9af87;
    
}

img {
    width: auto;
}

h1 {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    margin-top: 10px;
    padding-left: 30px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 20px;
    width: 100%;
    z-index: 10;

}

.Encabezado {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-around;
    align-items: center;
    background-color:#e5e5e585;
    border-style: solid;
    border-color: #d9af87;
    padding: 8px;
    border-radius: 10px;
    margin: 1rem;
    width: 70%;
}

.Encabezado div h1 {
    margin: 5px;
    padding: 5px;
    font-size: 40px;
    font-weight: bold;
    font-style: oblique;color: #fdfdfd;

}
.logo {
    margin: 5px;
}

.logo img {
    width: 60px;
    height: 60px;
    ;
}



.imgChango {
    width: 60px;
    height: 60px;
    padding: 5px;
    
}

body {
    background-color: #000000;
}



.Info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 20px;
    padding: auto;
    
    
}

.ctn-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color:#e5e5e585;
    margin: 20px;
    padding: auto;
    border-style: solid;
    border-radius: 10px;
    border-color: #d9af87;
    gap: 15px;
    width: 75%;
}
.ctn-info div h2 {
    color: #d2d6ea;
    font-family:"Tiny5", sans-serif;
    font-size: 35px;
}

.ctn-info div p {
    text-align: center ;
    font-size: 20px;
    color: #fdfdfd;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.SeccionBurgers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
    padding: 10px;
    border-right: #d9af87;
    border-left: #d9af87;
    border-style: double;
    border-width: 10px;
    
}

.CardsBurgers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    gap: 10px;
    height: auto;
    
}

.CardsBurgers div {
    width: auto;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr 50px 110px ;
    justify-content:center;
    align-items:center;
    margin: 1px;
    padding: 10px;
    float: right;
    background-color: #e5e5e56e;
    border-style: none;
    border-radius: 10px;
    
}

.CardsBurgers div img {
    grid-column: 1/ span 2;
    
    
}

.CardsBurgers div h4 {
    color: #fdfdfd;
    text-align: center;
    font-size: 20px;
}
.p-desc {
    font-size: 17px;
    color: #d2d6ea;
    text-align: center;
}

.p-desc span {
    font-size: 20px;
    color: #d2d6ea;
    text-decoration: underline;
}
.p-precio{
    font-size: 20px;
    color: #d2d6ea;
    text-align: center;
    
}


.ImgBurger-1 {
    width: 100%;
    height: 280px;
    object-fit:contain;
    padding: 2px;
    margin: 1px;
}

.ImgBurger-2 {
    width: 100%;
    height: 280px;
    object-fit:contain;
    padding: 2px;
    margin: 1px;
}

.ImgBurger-3 {
    width: 100%;
    height: 280px;
    object-fit:contain;
    padding: 2px;
    margin: 1px;
}

.ImgBurger-4 {
    width: 100%;
    height: 280px;
    object-fit:contain;
    padding: 2px;
    margin: 1px;
}


.ctn-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    padding-bottom: 15px;
    
}

.ctn-footer div p {
    color: #d2d6ea;
    
}


.ctn-redes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    gap: 35px;
    padding: 20px;
}

.ctn-redes div {
    object-fit: contain;
}

.ctn-redes img {
    width: 2rem;
    height: auto;
    margin:auto;
    padding: auto;

}


/* ESTILOS CARRITO */

.ctn-Carro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}



.cnt-titulo-carro h2 {
    color: #eff0f3;
    text-align: center;
    font-size: 45px;
    padding-top: 15px;
    
}

.cnt-tabla-carro section {
    background-color: #fdfdfdb2;
    border-style: solid;
    border-color: aquamarine;
    padding: 20px;
}

.cnt-tabla-carro section table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.cnt-tabla-carro section table tr {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.cnt-tabla-carro section table  h4{
    color: #79787e;
}

.cnt-tabla-carro section table  p{
    color: #79787e;
}

.cnt-tabla-carro section table  span {
    color: #79787e;
}

.ctn-total-carro div div h3 {
    color: #79787e;
}

.ctn-total-carro div div p {
    color: #79787e;
}


.BtnEliminar {
    width: 2em;
    height: 2em;
}

.BtnEliminar img {
    width: 1em;
    height: 1em;
}

